* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: "Anton"
}

/* VARIABLES */
:root {
  --bg-color:white;
  --text-color: black;
  --accent-color:red;
  --timeline-bg: red;

  --menu-bg: rgba(255, 255, 255, 0.9);
}

/* Menú sticky */
.menu {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  z-index: 1000;

  /* Fondo con desenfoque */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.menu h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: red;
}

.menu h1,
.menu .logo-link {
  position: relative;
  z-index: 1200;
  cursor: pointer;
  text-decoration: none;
}

.navbar .tickets-link {
  background-color: red;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar .tickets-link:hover {
  background-color: white;
  transform: scale(1);
}

.navbar {
  display: flex;
  gap: 80px;
  transition: all 0.4s ease;
  right: 20px;
  z-index: 1000;
}

.navbar .ative {
  pointer-events: auto;
}

.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar a:hover {
  transform: scale(1.2);
  color: red;
  font-weight: bold;
}





/* MENÚ HAMBURGUESA */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media (max-width: 850px) {
  .navbar {
    position: absolute;
    top: 90px;
    right: 5px;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 25px;
    padding: 30px 0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.4s ease;
  }

  .navbar.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
}

.navbar a.active-link {
  color: red;
  font-weight: bold;
  position: relative;
}

.navbar a.active-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: red;
}





/* INDEX */
/* Vídeo pantalla completa home */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 4rem;
  margin: 0 20px;
}

.hero-content p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding: 60px 50px;
}

.introduction h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.introduction p {
  font-weight: bold;
  padding: 1rem 5rem 1rem 5rem;
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  padding: 40px 120px;
  font-size: 15px;
  border-top: 1px solid white;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.footer1 p {
  margin: 8px 0;
  cursor: pointer;
}

.footer1 p:hover {
  color: red;
}

.footer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 300px;
  margin-left: 50px;
}

.footer2 p {
  font-weight: bold;
  margin-bottom: 4px;
}

.footer2 input[type="email"] {
  width: 100%;
  height: 20px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}

.footer2 label {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #ffffff;
}

.footer2 input[type="checkbox"] {
  margin-right: 6px;
}

.footer2 button {
  background-color: #ff0000;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px 15px;
  font-size: 12px;
  cursor: pointer;
}

.footer2 button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #ccc;
  border-top: 1px solid #333;
  padding-top: 30px;
}

.footer3 {
  display: flex;
  align-items: center;
  gap: 70px;
}

.footer-bottom p {
  margin: 0;
  display: inline;
}

@media (max-width: 800px) {

  .footer {
    padding: 30px 40px;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer2 {
    align-items: center;
    margin-top: 30px;
  }

  .footer2 label {
    justify-content: center;
  }

  .footer3 {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}










/* ORIGINS */
.logo a {
  text-decoration: none;
}

.logo h1 {
  color: rgb(255, 0, 0);
  transition: all 0.3s ease;
}

.logo h1:hover {
  transform: scale(1.2);
}

.origins-section {
  padding: 80px 100px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-top: 200px;
}

.section-title {
  font-size: 4rem;
  margin-bottom: 60px;
}

/* Línea temporal */
.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.timeline-item {
  padding: 30px 40px;
  position: relative;
  width: 50%;
}

/* Línea separadora */
.timeline-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 0, 0);
  margin: 50px auto 0 auto;
}

.timeline-item:last-child::after {
  display: none;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item .content {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  position: relative;
  text-align: left;
  padding: 25px;
}

/* Imágenes */
.timeline-item .content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.timeline-item .content img:hover {
  transform: scale(1.2);
}

.timeline-item .text h3 {
  color: red;
  margin: 0 0 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.final-phrase {
  text-align: center;
  margin-top: 100px;
  font-size: 1.3rem;
  font-style: italic;
}

@media (max-width: 1000px) {
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline::before {
    display: none;
  }

  .timeline-item {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto 40px auto;
  }

  .timeline-item.left, .timeline-item.right {
    left: 0;
  }

  .timeline-item .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .timeline-item .content img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .timeline-item .text {
    width: 100%;
  }

  .timeline-item::after {
    width: 100%;
    margin: 50px auto 0 auto;
  }
}









/* AUTHORS */
.authors-section {
  text-align: center;
  padding: 200px 60px;

}

.authors-section h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.intro {
  margin-bottom: 60px;
}

.authors-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: stretch;
}

.author-card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.author-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.author-card .overlay {
  position: absolute;
  inset: 0;
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  opacity: 1;
  transition: backround 0.4s ease;
}

.author-card .overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.author-card .overlay p {
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.4s ease;
}

.author-card:hover img {
  transform: scale(1.1);
}

.author-card:hover .overlay {
  background: rgba(0, 0, 0, 0.7)
}

.author-card:hover .overlay p {
  opacity: 1;
}

.closing-phrase {
  margin-top: 100px;
  font-size: 1.3rem;
  font-style: italic;
}

@media (max-width:800px) {
  .closing-phrase {
    font-size: 1.1rem;
  }
}

@media (max-width: 1420px) {
  .authors-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .authors-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

/* HIP HOP LEGENDS */
.hiphop-legends {
  text-align: center;
  padding: 60px;
}

.hiphop-legends h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hiphop-legends .intro-text {
  /* font-size: ; */
  margin-bottom: 60px;
}

.legends-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: stretch;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .legends-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .legends-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.legend-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #111;
}

.legend-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.4s ease, filter 0.3s ease;
}

.legend-card::after {
  content: attr(data-name);
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 8px black;
  transition: opacity 0.3s ease;
}

.legend-card:hover img {
  transform: scale(1.1);
}

.legend-card:hover::after {
  color: red;
}

#legendModal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  padding: 20px;
}

#legendModal.show {
  display: flex;
}

.modal-content {
  background: #111;
  color: white;
  border-radius: 10px;
  padding: 40px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 25px rgba(225, 225, 225, 0.2);
  animation: popIn 0.3s ease;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modal-content h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.9;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-modal:hover {
  color: red;
}

@keyframes popIn {
  from { transform: scale(0.8); opacity: 0;}
  to { transform: scale(1); opacity: 1;}
}

@media (max-width: 900px) {
  .modal-content {
    max-width: 450px;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .modal-content {
    max-width: 350px;
    padding: 25px;
  }

  .modal-content img {
    margin-bottom: 15px;
  }
}










/* MODO CLARO / OSCURO */
.theme-switch {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur (10px);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  z-index: 2000;
  transition: all 0.3s ease;
}

.theme-switch:hover {
  transform: scale(1.1);
}

.hide-cont {
  display: none;
}

/* Modo oscuro */
body.dark-theme {
  background-color: black;
  color: white;
}

body.dark-theme .menu {
  background-color: rgba(0, 0, 0, 0.7);
}

body.dark-theme .menu h1 {
  color: red;
}

body.dark-theme .navbar a {
  color: white;
}

body.dark-theme .navbar a:hover {
  color: red;
}

body.dark-theme .navbar .tickets-link {
  background-color: red;
  color: white;
}

body.dark-theme .footer {
  background-color: black;
  border-top: 1px solid red;
}

body.dark-theme .footer1 p:hover {
  color: red;
}

body.dark-theme .footer2 input[type="email"] {
  background-color: #444;
  color: white;
}

body.dark-theme .footer2 button {
  background-color: red;
}

body.dark-theme .footer2 button:hover {
  background-color: white;
  color: red;
}

body.dark-theme .hero-content h1 {
  color: red;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

body.dark-theme .introduction {
  background-color: #222;
  color: white;
}

body.dark-theme .timeline-item .content {
  background-color: #222;
  color: white;
}

body.dark-theme .timeline-item::before {
  background-color: red;
}