* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Menú sticky */
.menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  z-index: 1000;

  /* Fondo con desenfoque */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.menu h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: red;
}

.navbar {
  display: flex;
  gap: 80px;
}

.navbar a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-weight: bold;
}

.navbar a:hover {
  transform: scale(1.2);
  color: red;
}

/* Vídeo pantalla completa home */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  margin: 0 20px;
}