* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: "Anton"
}

/* INDEX */
/* Menú sticky */
.menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  z-index: 1000;

  /* Fondo con desenfoque */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.menu h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: red;
}

.navbar .tickets-link {
  background-color: red;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar .tickets-link:hover {
  background-color: white;
  transform: scale(1);
}

.navbar {
  display: flex;
  gap: 80px;
}

.navbar a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar a:hover {
  transform: scale(1.2);
  color: red;
  font-weight: bold;
}

/* Vídeo pantalla completa home */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  margin: 0 20px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding: 60px 50px;
}

.introduction h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.introduction p {
  font-weight: bold;
  padding: 1rem 5rem 1rem 5rem;
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  padding: 40px 120px;
  font-size: 15px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.footer1 p {
  margin: 8px 0;
  cursor: pointer;
}

.footer1 p:hover {
  color: red;
}

.footer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 300px;
  margin-left: 50px;
}

.footer2 p {
  font-weight: bold;
  margin-bottom: 4px;
}

.footer2 input[type="email"] {
  width: 100%;
  height: 20px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}

.footer2 label {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #ffffff;
}

.footer2 input[type="checkbox"] {
  margin-right: 6px;
}

.footer2 button {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px 15px;
  font-size: 12px;
  cursor: pointer;
}

.footer2 button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #ccc;
  border-top: 1px solid #333;
  padding-top: 30px;
}

.footer3 {
  display: flex;
  align-items: center;
  gap: 70px;
}

.footer-bottom p {
  margin: 0;
  display: inline;
}

@media (max-width: 800px) {

  .footer {
    padding: 30px 40px;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer2 {
    align-items: center;
    margin-top: 30px;
  }

  .footer2 label {
    justify-content: center;
  }

  .footer3 {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}










/* ORIGINS */
.logo a {
  text-decoration: none;
}

.logo h1 {
  color: rgb(255, 0, 0);
  transition: all 0.3s ease;
}

.logo h1:hover {
  transform: scale(1.2);
}

.origins-section {
  padding: 80px 100px;
  text-align: center;
  background-color: black;
  color: white;
}

.section-title {
  font-size: 4rem;
  margin-bottom: 60px;
}

/* Línea temporal */
.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.timeline-item {
  padding: 30px 40px;
  position: relative;
  width: 50%;
}

/* Línea separadora */
.timeline-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: red;
  margin: 50px auto 0 auto;
}

.timeline-item:last-child::after {
  display: none;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item .content {
  background-color: #222;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  position: relative;
  text-align: left;
  padding: 25px;
}

/* Imágenes */
.timeline-item .content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.timeline-item .content img:hover {
  transform: scale(1.2);
}

.timeline-item .text h3 {
  color: red;
  margin: 0 0 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

@media (max-width: 1000px) {
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline::before {
    display: none;
  }

  .timeline-item {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto 40px auto;
  }

  .timeline-item.left, .timeline-item.right {
    left: 0;
  }

  .timeline-item .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .timeline-item .content img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .timeline-item .text {
    width: 100%;
  }

  .timeline-item::after {
    width: 100%;
    margin: 50px auto 0 auto;
  }
}