* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: "Anton"
}

/* Menú sticky */
.menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  z-index: 1000;

  /* Fondo con desenfoque */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.menu h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: red;
}

.navbar .tickets-link {
  background-color: red;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar .tickets-link:hover {
  background-color: white;
  transform: scale(1);
}

.navbar {
  display: flex;
  gap: 80px;
}

.navbar a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar a:hover {
  transform: scale(1.2);
  color: red;
  font-weight: bold;
}

/* Vídeo pantalla completa home */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  margin: 0 20px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  padding: 60px 50px;
}

.introduction h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.introduction p {
  font-weight: bold;
  padding: 1rem 20rem 1rem 20
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  flex-wrap: wrap;
}

.footer1 p {
  margin: 5px 0;
  cursor: pointer;
}

.footer1 p:hover {
  color: red;
}

.footer2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
}

.footer2 p {
  font-weight: bold;
}

.footer2 input[type="email"], .footer2 input[type="text"] {
  background-color: white;
  border: none;
  height: 18px;
  width: 100%;
}